@import  "/src/variables" ;


.weatherCard > div, span, img{
  overflow-x: hidden;
}

.WeatherWrapper{

  margin-top: 100px;
  width: 100vw;
  background-color: $mainText;
}

.WeatherTitle{
  width: 800px;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
  height: 50px;
  line-height: 50px;
  font-family: $mainFont;
  color: $menuColor;
  font-size: 44px;
  font-weight: 600;
}

.formClasses{
  padding-top: 50px;
  padding-bottom: 100px;
}

.cityInput{
  font-family: $mainFont;
  height: 40px;
  margin: auto;
  display: block;
  border: none;
  padding-left: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  width: 600px;
  -webkit-appearance: none;
  outline: none;
}

.submitButton{
  margin: 50px auto;
  display: block;
  background-color: $menuColor;
  -webkit-appearance: none;
  outline: none;
  width: 150px;
  height: 45px;
  text-align: center;
  color: $mainText;
  font-family: $mainFont;
  font-size: 22px;
  border: none;
}

.searchIcon{
  font-size: 22px;
  display: block;
  position: absolute;
  margin-left: calc(50vw - 310px);
  margin-top: 14px;
}

.weatherCard{
  width: 650px;
  height: 300px;
  display: block;
  background-color: $mainBack;
  font-family: $mainFont;
  overflow: hidden;
}

.cardColumn{
  overflow-y: hidden;
  height: 300px;
  display: inline-block;
}

.icon{
  overflow-y: hidden;
  overflow-x: hidden;
  width: 160px;
  display: block;
  padding-left: 30px;
  margin-top: 10px;
}

.degree{
  font-size: 80px;
  position: absolute;
  margin-right: 5px;
}

.sunriseColumn{
  width: 325px;
  height: 300px;
  display: inline-block;
  text-align: left;
}


.temp{
  position: absolute;
  margin-left: 180px;
  color: $mainText;
  font-size: 100px;
  margin-top: 20px;
  float: right;

}

.weatherCardWrapper{
  padding-top: 70px;
  justify-content: space-evenly;
  display: flex;
  width: 1500px;
  height: 300px;
  margin: auto;
}

.weatherType{
  overflow: hidden;
  color: $mainText;
  margin-top: 30px;
  margin-left: 30px;
  font-size: 20px;
}





.cardRowTitle{
  padding-bottom: 8px;
  margin-left: 30px;
  font-size: 20px;
  float: left;
}

.cardLine{
  overflow: hidden;
  height: 2px;
  background-color: $mainText;
  width: 290px;
  margin-left: 30px;
  margin-top: 33px;
}

.rowInfo{
  margin-right: 30px;
  float: right;
  font-size: 20px;
}

.topRow{
  margin-top: 50px;
}




.currentWeather{
  text-align: left;
  color: $mainText;
  font-size: 20px;
  display: block;
  width: 150px;
  height: 30px;
  padding-top: 10px;
  padding-left: 30px;
}

.date{
  text-align: left;
  width: 200px;
  margin-left: 30px;
  font-size: 16px;
  display: block;
  color: $mainText;
}

.subtitle{
  margin-left: 20px;
  font-size: 22px;
  margin-top: 20px;
  color: $mainText;
  display: block;
}

.weatherInfoRow{
  width: 350px;
  color: $mainText;
}

.sunriseWrapper{
  margin-top: 20px;
}

.lengthWrapper{
  overflow: hidden;
}

.dayLength{
  overflow: hidden;
  text-align: right;
  margin-right: 30px;
  font-size: 18px;
  margin-top: 30px;
  color: $mainText;
  float: right;
}

.fullDay{

  display: block;
}

.time{

  margin-top: 10px;
  font-size: 20px;
  display: block;
  color: $mainText;
  float: right;
  margin-right: 25px;
}

.timeText{
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
  color: $mainText;
}


.sunRiseIcon{
  margin-top: 30px;
  margin-left: 20px;
  display: block;
  color: $mainText;
}

.sunriseLine{
  overflow: hidden;
  margin-left: 20px;
  margin-top: 20px;
  width: 280px;
  height: 2px;
  background-color: $mainText;
}
