.boatWrapper{
  width: 100vw;
}

.pathPlanning{
  display: inline-block;
  width: 50vw;
  height: 100vh;
}


.windyWrapper{
  display: block;
  width: 50vw;
  height: calc(100vh - 66px);
}

.map{
  width: 50vw;
  height: 96vh;
}



