@import  "/src/variables" ;


.menu{
  z-index: 10;
  height: 66px;
  width: 100vw;
  background-color: $menuColor;
  text-align: center;
}

.logo{
  height: 66px;
  float: left;
}

.highlight {
  transition: 0.2s ease-in-out;
  width: 100px;
  background-color: $mainText;
  margin-top: 56px;
  position: absolute;
  height: 2px;
}

.buttonsWrapper{
  overflow: hidden;
  height: 66px;
  margin: auto;
  display: block;
  width: 800px;
}


.buttonIcon{
  padding-right: 10px;
}

.button{

  text-decoration: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  user-select: none ;
  font-size: 20px;
  height: 66px;
  line-height: 66px;
  width: 150px;
  color: $mainText;
  font-family: $mainFont;
}
